
// Fonts 

$primary-font: 'PlaylistScript';
$secondary-font-light: 'RalewayLight';
$secondary-font: 'RalewayRegular';
$secondary-font-med: 'RalewayMedium';
$secondary-font-bold: 'RalewayBold';

// Colors

$black: rgb(0, 0, 0);
$black_30: rgba(0, 0, 0, 0.3);
$black_40: rgba(0, 0, 0, 0.4);
$color_azure_approx: rgb(59, 89, 152);
$color_dove_gray_approx: rgb(109, 110, 113);
$color_fuscous_gray_approx: rgb(85, 85, 85);
$color_golden_tainoi_approx: rgb(252, 204, 99);
$color_gray_approx: rgb(129, 129, 129);
$color_monza_approx: rgb(189, 8, 28);
$color_lochmara_approx: rgb(0, 122, 193);
$color_regal_blue_approx: rgb(0, 74, 117);
$color_spindle_approx: rgb(185, 205, 234);
$white: rgb(255, 255, 255);
$white_80: rgba(255, 255, 255, 0.8);
