// Extensions

%footer_extend_1 {
    @include margin(5px);
	display: inline-block;
	font-weight: 400;
	color: $color_dove_gray_approx;
}

%header_extend_1 {
	padding: 8px 0;
	color: $white;
	border-bottom: none;
}

%header_extend_2 {
	color: $white;
	border-bottom: none;
	box-shadow: 2px $black_30;
	font-weight: 700;
}

%header_extend_3 {
	color: $color_lochmara_approx;
	border-bottom: none;
	text-decoration: none;
}

%header_extend_4 {
    top: 18px;
	width: 0;
	left: 50%;
}

%main_styles_extend_1 {
	color: $white;
	text-transform: uppercase;
	text-decoration: none;
	padding-bottom: 1px;
}


%main_styles_extend_2 {
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	color: $white;
}