@include font-face(
  "Playlist-Script",
  "../../assets/fonts/Playlist-Script",
  ("woff2", "woff", "eot", "ttf", "svg")
) {
  font-style: normal;
  font-weight: normal;
}


@include font-face(
  "Raleway-Light",
  "../../assets/fonts/Raleway-Light",
  ("woff2", "woff", "eot", "ttf", "svg")
) {
  font-style: normal;
  font-weight: 300;
}

@include font-face(
  "Raleway-Regular",
  "../../assets/fonts/Raleway-Regular",
  ("woff2", "woff", "eot", "ttf", "svg")
) {
  font-style: normal;
  font-weight: 400;
}

@include font-face(
  "Raleway-Medium",
  "../../assets/fonts/Raleway-Medium",
  ("woff2", "woff", "eot", "ttf", "svg")
) {
  font-style: normal;
  font-weight: 500;
}

@include font-face(
  "Raleway-Bold",
  "../../assets/fonts/Raleway-Bold",
  ("woff2", "woff", "eot", "ttf", "svg")
) {
  font-style: normal;
  font-weight: 700;
}
