
footer {
    @extend %footer_extend_1;
    ul.inline{
        li {
            @extend %footer_extend_1;
            a {
                @extend %footer_extend_1;
                &:hover {
                    text-decoration: none;
                    color: $color_lochmara_approx;
                }
                &:active {
                    text-decoration: none;
                    color: $color_lochmara_approx;
                }
            }
        }
    }
}

small a:hover {
	text-decoration: none;
	color: $color_lochmara_approx;
}

.facebook {
	fill:$color_fuscous_gray_approx;
	&:active {
		fill: $color_azure_approx;
	}
	&:hover {
		fill: $color_azure_approx;
	}
}
.instagram {
	fill:$color_fuscous_gray_approx;
	&:active {
		fill: $color_golden_tainoi_approx;
	}
	&:hover {
		fill: $color_golden_tainoi_approx;
	}
}
