.logo {
	@include margin(null auto);
	width: 332px;
	@include padding(10px);
	display: block;
	&:focus {
		outline: 0;
	}
	@media only screen and (max-width:790px) {
		display: none;
	}
}

.mobileLogo {
	outline: 0;
	display: none;
	justify-content: center;
	@media only screen and (max-width: 790px) {
		display:flex;
	}
}

nav {
	@include position(absolute, 0 null null 0);
	width: 100%;
	z-index: 2;
	@include padding(10px);
	.main-nav {
		list-style: none;
		@include margin(20px auto 10px auto);
		display: block;
		text-align: center;
		li {
			display: inline-block;
			@include margin(null 15px);
			a {
				&:link {
					@extend %header_extend_1;
				}
				&:visited {
					@extend %header_extend_1;
				}
				&:hover {
					@extend %header_extend_2;
				}
				&:active {
					@extend %header_extend_2;
				}
			}
		}
		@media only screen and (max-width:1025px) {
			display: none;
		}
		&.black {
			a {
				color:$color_fuscous_gray_approx !important;
				
			}
		}
	}
	&.boilerplate-nav {
		position: relative;
	}
}

#mobileNavButton {
	width: 50px;
	float: left;
	@include margin(17px null null 10px);
	transform: rotate(0deg);
	transition: .5s ease-in-out;
	cursor: pointer;
	display: none;
	span {
		background-color: $white;
		@include position(absolute, null null null 0);
		@include size(100%, 4px);
		border-radius: 9px;
		opacity: 1;
		transform: rotate(0deg);
		transition: .25s ease-in-out;
		&:nth-child(1) {
			top: 0;
		}
		&:nth-child(2) {
			top: 13px;
		}
		&:nth-child(3) {
			top: 13px;
		}
		&:nth-child(4) {
			top: 26px;
		}
	}
	&.black {
		span {
			background-color:$color_fuscous_gray_approx;
		}
	}
	&.open span {
		&:nth-child(1) {
			@extend %header_extend_4;
		}
		&:nth-child(2) {
			transform: rotate(45deg);
		}
		&:nth-child(3) {
			transform: rotate(-45deg);
		}
		&:nth-child(4) {
			@extend %header_extend_4;
		}
	}
	@media only screen and(max-width:1025px) {
		display: block;
	}
}

#sideNav {
	@include size(0, 100%);
	@include position(fixed, 96px null null 0);
	background-color: $white;
	z-index: 100;
	overflow: hidden;
	transition: 0.5s;
	padding-top: 60px;
	a {
		@include padding(8px 8px 8px 32px);
		text-decoration: none;
		font-size: 25px;
		color: $color_gray_approx;
		display: block;
		transition: 0.3s;
		&:hover {
			color: $color_lochmara_approx;
		}
	}
	&.open {
		width: 100%;
	}
}

@media screen and(max-height: 450px) {
	#sideNav {
		padding-top: 15px;
		a {
			font-size: 18px;
		}
	}
}

.swiper-button-next,
.swiper-button-prev {
	&:focus {
		outline: none;
	}
	@media only screen and(max-width:1025px) {
		display: none;
	}
}

div.header-container {
	position: relative;
	.header-text {
		@include position(absolute, 0 null null null);
		@include size(100%);
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		@media only screen and (max-width: 1025px) {
			top:50%;
			align-items: unset;
		}
	}
}