
// Fonts 

$primary-font: 'Playlist-Script';
$secondary-font-light: 'Raleway-Light';
$secondary-font: 'Raleway-Regular';
$secondary-font-med: 'Raleway-Medium';
$secondary-font-bold: 'Raleway-Bold';

// Colors

$black: rgb(0, 0, 0);
$black_30: rgba(0, 0, 0, 0.3);
$black_40: rgba(0, 0, 0, 0.4);
$color_azure_approx: rgb(59, 89, 152);
$color_dove_gray_approx: rgb(109, 110, 113);
$color_fuscous_gray_approx: rgb(85, 85, 85);
$color_golden_tainoi_approx: rgb(252, 204, 99);
$color_gray_approx: rgb(129, 129, 129);
$color_monza_approx: rgb(189, 8, 28);
$color_lochmara_approx: rgb(0, 122, 193);
$color_regal_blue_approx: rgb(0, 74, 117);
$color_spindle_approx: rgb(185, 205, 234);
$white: rgb(255, 255, 255);
$white_80: rgba(255, 255, 255, 0.8);

// Front Page Background Image URL's

$url_0: url('../../assets/demoimg/bg1.jpg');
$url_1: url('../../assets/demoimg/bg2.jpg');
$url_2: url('../../assets/demoimg/bg3.jpg');
$url_3: url('../../assets/demoimg/bg4.jpg');
$url_4: url('../../assets/demoimg/bg5.jpg');

// Extensions

%footer_extend_1 {
    @include margin(5px);
	display: inline-block;
	font-weight: 400;
	color: $color_dove_gray_approx;
}

%header_extend_1 {
	padding: 8px 0;
	color: $white;
	border-bottom: none;
}

%header_extend_2 {
	color: $color_lochmara_approx;
	border-bottom: none;
	text-decoration: none;
}

%header_extend_3 {
	color: $color_lochmara_approx;
	border-bottom: none;
	text-decoration: none;
}

%header_extend_4 {
    top: 18px;
	width: 0;
	left: 50%;
}

%main_styles_extend_1 {
	color: $white;
	text-transform: uppercase;
	text-decoration: none;
	padding-bottom: 1px;
}


%main_styles_extend_2 {
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	color: $white;
}
