@font-face {
  font-family: "Playlist-Script";
  src: url("../../assets/fonts/Playlist-Script.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Playlist-Script.woff2") format("woff2"), url("../../assets/fonts/Playlist-Script.woff") format("woff"), url("../../assets/fonts/Playlist-Script.ttf") format("truetype"), url("../../assets/fonts/Playlist-Script.svg#Playlist-Script") format("svg");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: "Raleway-Light";
  src: url("../../assets/fonts/Raleway-Light.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Raleway-Light.woff2") format("woff2"), url("../../assets/fonts/Raleway-Light.woff") format("woff"), url("../../assets/fonts/Raleway-Light.ttf") format("truetype"), url("../../assets/fonts/Raleway-Light.svg#Raleway-Light") format("svg");
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: "Raleway-Regular";
  src: url("../../assets/fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Raleway-Regular.woff2") format("woff2"), url("../../assets/fonts/Raleway-Regular.woff") format("woff"), url("../../assets/fonts/Raleway-Regular.ttf") format("truetype"), url("../../assets/fonts/Raleway-Regular.svg#Raleway-Regular") format("svg");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "Raleway-Medium";
  src: url("../../assets/fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Raleway-Medium.woff2") format("woff2"), url("../../assets/fonts/Raleway-Medium.woff") format("woff"), url("../../assets/fonts/Raleway-Medium.ttf") format("truetype"), url("../../assets/fonts/Raleway-Medium.svg#Raleway-Medium") format("svg");
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: "Raleway-Bold";
  src: url("../../assets/fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Raleway-Bold.woff2") format("woff2"), url("../../assets/fonts/Raleway-Bold.woff") format("woff"), url("../../assets/fonts/Raleway-Bold.ttf") format("truetype"), url("../../assets/fonts/Raleway-Bold.svg#Raleway-Bold") format("svg");
  font-style: normal;
  font-weight: 700; }

footer, footer ul.inline li, footer ul.inline li a {
  margin: 5px;
  display: inline-block;
  font-weight: 400;
  color: #6d6e71; }

.main-nav li a:link, .main-nav li a:visited {
  padding: 8px 0;
  color: white;
  border-bottom: none; }

.main-nav li a:hover, .main-nav li a:active {
  color: #007ac1;
  border-bottom: none;
  text-decoration: none; }

.sticky .main-nav li a:active, .sticky .main-nav li a:hover {
  color: #007ac1;
  border-bottom: none;
  text-decoration: none; }

#mobile-nav-icon.open span:nth-child(1), #mobile-nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%; }

a:link, a:visited {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding-bottom: 1px; }

a:hover + .insta-button, .insta-button:hover {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: white; }

@media only screen and (max-width: 790px) {
  .main-nav {
    display: none; }
  .sticky {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
    .sticky .main-nav {
      margin-top: 10px; }
      .sticky .main-nav li a:link {
        padding: 10px 0; }
      .sticky .main-nav li a:visited {
        padding: 10px 0; }
    .sticky .mobile-nav-icon {
      margin-top: 10px; }
      .sticky .mobile-nav-icon i {
        color: #555555; }
  #mobile-nav-icon span {
    display: block !important; } }

@media only screen and (max-width: 767px) {
  .map-box {
    height: auto;
    width: 100%;
    position: relative; }
  .map {
    height: 300px;
    width: 100%;
    position: relative;
    z-index: 0; }
  .form-box {
    height: auto;
    width: 100%;
    position: relative;
    padding: 30px 0; } }

@media only screen and (max-width: 480px) {
  .sticky .img-fluid {
    display: none; }
  .sticky .logo-mini {
    display: block; }
  .img-main {
    display: none; }
  .logo-mini {
    display: block; }
  .main-nav {
    float: left;
    margin-top: 30px;
    margin-left: 25px; }
    .main-nav li {
      display: block; }
      .main-nav li a:link {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%; }
      .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%; }
  .col-12.above.js-fade.fade-in {
    top: 25%; } }

@media only screen and (max-width: 330px) {
  .logo {
    width: 244px; } }

.logo {
  margin-right: auto;
  margin-left: auto;
  width: 332px;
  padding: 10px;
  display: block; }
  .logo:focus {
    outline: 0; }

.logo-mini {
  outline: 0;
  display: none;
  height: 60px;
  width: auto;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 8px; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
  transition: 0.5s;
  padding: 10px; }

.main-nav {
  list-style: none;
  margin: 20px auto 10px;
  display: block;
  text-align: center; }
  .main-nav li {
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px; }

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 2px #efefef07;
  z-index: 9999;
  padding: 10px; }
  .sticky .main-nav li a:link {
    color: white; }
  .sticky .main-nav li a:visited {
    color: white; }

#navBar {
  overflow: hidden; }

#mobile-nav-icon {
  width: 50px;
  float: left;
  margin-top: 17px;
  margin-left: 10px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer; }
  #mobile-nav-icon span {
    display: none;
    position: absolute;
    left: 0;
    height: 4px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    transform: rotate(0deg);
    transition: .25s ease-in-out; }
    #mobile-nav-icon span:nth-child(1) {
      top: 0; }
    #mobile-nav-icon span:nth-child(2) {
      top: 13px; }
    #mobile-nav-icon span:nth-child(3) {
      top: 13px; }
    #mobile-nav-icon span:nth-child(4) {
      top: 26px; }
  #mobile-nav-icon.open span:nth-child(2) {
    transform: rotate(45deg); }
  #mobile-nav-icon.open span:nth-child(3) {
    transform: rotate(-45deg); }

.fps {
  background-color: white; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 96px;
  left: 0;
  z-index: 100;
  overflow: hidden;
  transition: 0.5s;
  padding-top: 60px; }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s; }
    .sidenav a:hover {
      color: #007ac1; }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
    .sidenav a {
      font-size: 18px; } }

.fpm span {
  background: white; }

footer ul.inline li a:hover {
  text-decoration: none;
  color: #007ac1; }

footer ul.inline li a:active {
  text-decoration: none;
  color: #007ac1; }

.brandon {
  color: #004a75 !important;
  text-transform: none !important; }

small a:hover {
  text-decoration: none;
  color: #007ac1; }

.fa-facebook-square:active {
  color: #3b5998; }

.fa-facebook-square:hover {
  color: #3b5998; }

.fa-instagram:active {
  color: #fccc63; }

.fa-instagram:hover {
  color: #fccc63; }

.fa-pinterest:active {
  color: #bd081c; }

.fa-pinterest:hover {
  color: #bd081c; }

body {
  font-family: "Raleway-Regular"; }

.clearfix {
  zoom: 1; }
  .clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden; }

.shop-section {
  background: white; }

.above {
  z-index: 1; }

.bf {
  position: relative; }

h2 {
  font-family: "Raleway-Light"; }

h3 {
  font-family: "Raleway-Light";
  text-transform: uppercase; }

a {
  font-size: 16px; }
  a:hover {
    color: #004a75;
    background-color: linear-gradient(to bottom, #007ac1, #004a75); }
    a:hover + .arrivals-button {
      display: inline-block;
      cursor: pointer;
      text-decoration: none;
      color: white;
      top: 45%;
      left: 45%; }
  a:active {
    color: #004a75;
    background-color: linear-gradient(to bottom, #007ac1, #004a75); }

.insta-button {
  background-color: transparent;
  display: none;
  border: 1px solid white;
  color: white;
  padding: 8px 26px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  position: absolute !important;
  padding-bottom: 8px !important; }

@keyframes fadeIn {
  to {
    opacity: 1; } }

.fade-in {
  opacity: 0;
  animation: fadeIn 1.3s ease-in 1 forwards; }

.is-paused {
  animation-play-state: paused; }

.swiper-container {
  width: 100%;
  height: 125vh; }

.striper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: skewY(-6deg) !important;
  transform-origin: top left; }

.striper1 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: skewY(-6deg) !important;
  transform-origin: top right; }

.bg-1 {
  background-size: cover;
  background-position: center;
  background-image: url("../../assets/demoimg/bg1.jpg"); }

.bg-2 {
  background-size: cover;
  background-position: center;
  background-image: url("../../assets/demoimg/bg2.jpg"); }

.bg-3 {
  background-size: cover;
  background-position: center;
  background-image: url("../../assets/demoimg/bg3.jpg"); }

.bg-4 {
  background-size: cover;
  background-position: center;
  background-image: url("../../assets/demoimg/bg4.jpg"); }

.bg-5 {
  background-size: cover;
  background-position: center;
  background-image: url("../../assets/demoimg/bg5.jpg");
  position: relative !important; }

.dimmed {
  position: relative; }
  .dimmed:after {
    content: " ";
    z-index: 1;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3); }

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #b9cdea !important; }

.animatePhoto {
  opacity: 0;
  animation-duration: 1s;
  margin: 0;
  overflow: hidden; }
  .animatePhoto .animated {
    opacity: 1; }
  .animatePhoto img {
    opacity: 1;
    height: auto;
    transform: scale(0.95);
    transition: transform 0.5s, opacity 0.5s; }
    .animatePhoto img:hover {
      opacity: 0.7;
      transform: scale(1.03); }

.arrivals-button {
  background-color: transparent;
  display: none;
  border: 1px solid white;
  color: white;
  padding: 8px 26px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  position: absolute !important;
  padding-bottom: 8px !important; }
  .arrivals-button:hover {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: white;
    top: 45%;
    left: 45%; }

.insta-shop {
  padding-top: 40px;
  padding-bottom: 40px;
  background: linear-gradient(to bottom, #007ac1, #004a75); }

.insta-shop-text {
  color: white;
  margin: 5px; }

.s2 {
  width: 100%;
  height: 100%;
  overflow-x: hidden; }

.carousel-slide {
  text-align: center;
  font-size: 18px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center; }
  .carousel-slide img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s; }
    .carousel-slide img:hover {
      opacity: 1;
      transform: scale(1.03); }

.insta-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: black; }

.overlay-b {
  width: 100%;
  z-index: 2;
  left: 0;
  top: 0;
  transition: 0.5s;
  padding: 10px;
  border-bottom: 1px solid black; }

.bps {
  background-color: black; }

.bpf {
  border-top: 1px solid black; }

.map-box {
  width: 100%;
  height: 630px;
  position: relative; }

.map {
  width: 100%;
  height: 630px;
  position: relative;
  z-index: 0; }

.form-box {
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  height: 630px;
  padding-top: 40px;
  z-index: 10; }

.col-12.above.js-fade.fade-in {
  position: absolute !important;
  top: 10%; }

.boiler-styles.main-nav li a:link {
  color: black; }

.boiler-styles.main-nav li a:visited {
  color: black; }

.boiler-styles.main-nav li a:hover {
  color: #007ac1;
  border-bottom: none;
  text-decoration: none; }

.boiler-styles.main-nav li a:active {
  color: #007ac1;
  border-bottom: none;
  text-decoration: none; }

.bpm span {
  background: black; }
