/**************************************************/
/*              TABLE OF CONTENTS                

1. BASICS
2. REUSABLE COMPONTENTS
 2.1 Headings
 2.2 Paragraphs
 2.3 Icons
    2.3.1 Social Icons
 2.4 Links 
 2.5 Buttons
3. HEADER
 3.1 Main Navigation
 3.2 Sticky Navigation
 3.3 Mobile Navigation  
4. BODY
5. FOOTER

*/

/* Sand E6AC5E */
/* Dark Sand CC9954 */
/* Lighter Ocean 007AC1 */
/* Deep Ocean 004A75 */


/**************************************************/
/*                    BASICS                      */
/**************************************************/
body{
    font-family:'Raleway' !important;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.logo{
 width: 332px;
 padding: 10px;
 margin-left: auto;
 margin-right: auto;
 display: block;
}
.logo:focus,
.logo-mini{
    outline: 0;
}

.logo-mini{
    display: none;
    height: 60px;
    width: auto;
    margin:auto;
    margin-bottom:10px;
    margin-top:8px;
}

/**************************************************/
/*              REUSABLE COMPONENTS               */
/**************************************************/

  .shop-section {
      background: #fff;
  }

  .above{
    z-index: 1;
  }

  .bf{
    position: relative;
  }

/*                   Headings                     */
/**************************************************/

h2,
h3{
    font-weight: 300;
}
h3{
    text-transform: uppercase;
}


/*                  Paragraphs                    */
/**************************************************/

a{
    font-size: 16px;
}

a:link,
a:visited{
    color:#fff;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 1px;
}

a:hover,
a:active {
    color:#004A75;
    background-color: -webkit-linear-gradient(to bottom, #007AC1, #004A75); 
    background-color: linear-gradient(to bottom, #007AC1, #004A75);   
}

/*                 Social Icons                   */
/**************************************************/


.fa-facebook-square:active,
.fa-facebook-square:hover{
    color:#3B5998;
}

.fa-instagram:active,
.fa-instagram:hover{
    color:#fccc63;
}

.fa-pinterest:active,
.fa-pinterest:hover{
    color:#bd081c;
}

/*                    Links                       */
/**************************************************/

/*                   Buttons                      */
/**************************************************/


/*              Insta Shop Buttons                */

.insta-button{
    background-color: transparent;
    display:none;
    border: 1px solid #fff;
    color:#fff;
    padding: 8px 26px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    position: absolute !important;
    padding-bottom: 8px !important;
}

a:hover + .insta-button, .insta-button:hover {
    display:inline-block;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
}
/**************************************************/
/*                   HEADER                       */
/**************************************************/
.col-12.above.js-fade.fade-in{
    position: absolute !important;
    top: 10%;
}
    
    @keyframes fadeIn {
        to {
          opacity: 1;
        }
      }
      
      .fade-in {
        opacity: 0;
        animation: fadeIn 1.3s ease-in 1 forwards;
      }
      
      .is-paused {
        animation-play-state: paused;
      }

/*                Swiper Carousel                 */
/**************************************************/

.swiper-container {
    width: 100%;
    height:125vh;
}

/*              Head Images Caurosel             */
/**************************************************/

.striper{
  position: absolute !important;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: skewY(-6deg) !important;
  transform-origin: top left;
}
.striper1{
    position: absolute !important;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: skewY(-6deg) !important;
    transform-origin: top right;
  }

.bg-1,
.bg-2,
.bg-3,
.bg-4,
.bg-5{
    background-size: cover;
    background-position: center;
}

.bg-1{
    background-image: url(../../assets/demoimg/bg1.jpg);
}
.bg-2{
    background-image: url(../../assets/demoimg/bg2.jpg);
}
.bg-3{
    background-image: url(../../assets/demoimg/bg3.jpg);
}
.bg-4 {
    background-image: url(../../assets/demoimg/bg4.jpg);
}
.bg-5 {
    background-image: url(../../assets/demoimg/bg5.jpg);
    position: relative !important;
}

.dimmed {
    position: relative;
  }
  
  .dimmed:after {
    content: " ";
    z-index: 1;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    background: #b9cdea !important;
  }

/*                Main Navigation                 */
/**************************************************/

.overlay {  
    width: 100%;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, 0.4); 
    transition: 0.5s; 
    padding:10px;
}


.main-nav {
    list-style: none; 
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:10px;
    display: block;
    text-align: center;
    
}

.main-nav li {
    display:inline-block;
    margin-right: 15px;
    margin-left: 15px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    border-bottom: none;
}

.main-nav li a:hover,
.main-nav li a:active {
    color:#007AC1;
    border-bottom: none;
    text-decoration: none;
}


/*              Sticky Navigation                 */
/**************************************************/


.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 2px #efefef07;
    z-index: 9999;
    padding: 10px;
}


.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    color: #fff;
}

.sticky .main-nav li a:active,
.sticky .main-nav li a:hover {
    color: #007AC1;
    border-bottom: none;
    text-decoration: none;
}

#navBar{
    overflow: hidden;
}


/*              Mobile Navigation                 */
/**************************************************/

/* https://codepen.io/designcouch/pen/Atyop */

.fpm span{
    background: #fff;
}

#mobile-nav-icon {
    width:50px;
    float: left;
    margin-left: 10px;
    margin-top: 17px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
  
  #mobile-nav-icon span {
    display: none;
    position: absolute;
    height: 4px;
    width: 100%;
    /* background: #fff; */
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  
  #mobile-nav-icon span:nth-child(1) {
    top: 0px;
  }
  
  #mobile-nav-icon span:nth-child(2),#mobile-nav-icon span:nth-child(3) {
    /* top: 18px; */
    top: 13px;
  }
  
  #mobile-nav-icon span:nth-child(4) {
    /* top: 36px; */
    top: 26px;
  }
  
  #mobile-nav-icon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  #mobile-nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #mobile-nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #mobile-nav-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

/*                 Side Nav                       */
/**************************************************/
.fps{
    background-color:#fff;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 96px;
    left: 0;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #007AC1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/**************************************************/
/*                    FOOTER                      */
/**************************************************/

.inline,
.inline li,
.inline li a{
    margin: 5px;
    display:inline-block;
    font-weight: 400;
    color:#6d6e71;
}

.inline li a:hover,
.inline li a:active{
    text-decoration: none;
    color:#007AC1;
}

small a:hover{
    text-decoration: none;
    color:#007AC1;
}
.brandon {
    color: #004A75 !important;
    text-transform: none !important;
}


/*************************************************/
/*             New Arrivals Section              */
/*************************************************/

.animatePhoto{
    opacity: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    margin: 0;
	overflow: hidden;
    
}
.animatePhoto .animated {
    opacity: 1;
}

.animatePhoto img{
    opacity: 1;
	height: auto;
	-webkit-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.animatePhoto img:hover{
    opacity: 0.7;
	-webkit-transform: scale(1.03);
	-ms-transform: scale(1.03);
	transform: scale(1.03);
}

/* New Arrivals Button */
.arrivals-button{
    background-color: transparent;
    display:none;
    border: 1px solid #fff;
    color:#fff;
    padding: 8px 26px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    position: absolute !important;
    padding-bottom: 8px !important;
}

a:hover + .arrivals-button, .arrivals-button:hover {
    display:inline-block;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    top:45%;
    left:45%;
}

/*************************************************/
/*              Insta Shop Section               */
/*************************************************/

.insta-shop{
    padding-top: 40px;
    padding-bottom: 40px;
    background: #004A75; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #007AC1, #004A75); 
    background: linear-gradient(to bottom, #007AC1, #004A75);   
}

.insta-shop-text{
    color: #fff;
    margin: 5px
    }

/* Insta Shop Carousel */
.s2 {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

.carousel-slide{
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  } 
  .carousel-slide img{
	opacity: 0.7;
	width: 100%;
	height: auto;
	-webkit-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.carousel-slide img:hover{
	opacity: 1;
	-webkit-transform: scale(1.03);
	-ms-transform: scale(1.03);
	transform: scale(1.03);
}

.insta-photo {
	width: 100%;
	margin: 0;
	overflow: hidden;
	background-color: #000;
}

.clearfix {zoom: 1}
.clearfix:after {
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

/*************************************************/
/*            Boiler Plate Pages                 */
/*************************************************/

.overlay-b {
    width: 100%;
    z-index: 2;
    left: 0;
    top: 0;
    transition: 0.5s; 
    padding:10px;
    border-bottom: 1px solid #000;
}

.boiler-styles.main-nav li a:link,
.boiler-styles.main-nav li a:visited{
    color:#000;
}


.boiler-styles.main-nav li a:hover,
.boiler-styles.main-nav li a:active {
    color:#007AC1;
    border-bottom: none;
    text-decoration: none;
}

.bps{
    background-color:#000;
}
.bpm span{
    background: #000;
}

.bpf{
    border-top:1px solid #000;
    
}

/*************************************************/
/*                Contact Us Page                */
/*************************************************/
.map-box {
	width: 100%;
	height: 630px;
	position: relative;
	
}

.map {
	width: 100%;
	height: 630px;
	position: relative;
	z-index: 0;
}

.form-box {
	width: 50%;
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.8);
	height: 630px;
	padding-top: 40px;
	z-index: 10;
}

/*************************************************/
/*                Media Queries                  */
/*************************************************/


@media only screen and (max-width: 790px) {
          
    .main-nav { display: none; }
    #mobile-nav-icon span {display: block !important;}
  
    .sticky .main-nav { margin-top: 10px; }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited { padding: 10px 0; }
    .sticky .mobile-nav-icon { margin-top: 10px; }
    .sticky .mobile-nav-icon i { color: #555; }
    
    .sticky {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    
}

@media only screen and (max-width: 767px) {
    .map-box {
        width: 100%;
        height: auto;
        position: relative;
        
    }
    
    .map {
        width: 100%;
        height: 300px;
        position: relative;
        z-index: 0;
    }
    
    .form-box {
        width: 100%;
        position: relative;
        
        height: auto;
        padding: 30px 0;
        
    }
    
    }

/* Phones: from 0 to 480px */
@media only screen and (max-width: 480px) {

    .col-12.above.js-fade.fade-in{
        top: 25%;
    }

    .sticky .img-fluid { display: none; }
    .sticky .logo-mini { display: block; }

    .img-main   {display: none;}
    .logo-mini { display: block; }

    .main-nav {
        float: left;
        margin-top: 30px;
        margin-left: 25px;
    }
    
    .main-nav li {
        display: block;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }
}
@media only screen and (max-width: 330px) {
    .logo{
        width: 244px;
    }
}